@use '../util.scss';
@import '../vars';

.banner {
    @extend .carbon-fiber;

    width: 100%;
    min-height: 100px;
}


.banner-content {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

@media (max-width: $screen-lg) {
    .banner-content {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: $screen-md) {
    .banner-content {

        nav {
            display: none;
        }
    }
}

.banner-content img {
    margin: 5px;
    max-width: 300px;
    max-height: 95px;
}
