@import '../vars';

	.row {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
        text-align: center;
	}
	h1 {
		color: $ep-blue;
        font-size: 3em;
	}

.promo-row img {
    max-width: 95%;
}

.service {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    align-items: center;
    padding: 15px;
}

.services-row {
    flex-wrap: wrap;
}

.service img {
    margin-bottom: 5px;
}

.service p {
    text-align: center;
}

.service label {
    font-weight: bold;
}

.service-apparel label {
    color: $ep-blue;
}

.service-printing label {
    color: $ep-pink;
}

.service-signs label {
    color: $ep-yellow;
}

.info-banner {
    background-color: $ep-yellow;
    min-width: 50%;
    padding: 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
