// @use './vars.scss';
@import './vars';

$carbon-fiber-dark: mix(red, lighten(#151515, 12%), 3%);
$carbon-fiber-medium: mix(red, lighten(#222, 12%), 3%);
$carbon-fiber-light: mix(red, lighten(#1b1b1b, 12%), 3%);
$carbon-fiber-lighter: mix(red, lighten(#1d1d1d, 12%), 3%);
$carbon-fiber-accent: mix(red, lighten(#1a1a1a, 12%), 3%);
$carbon-fiber-darker: mix(red, lighten(#242424, 12%), 3%);
$carbon-fiber-base: mix(red, lighten(#131313, 12%), 3%);

.carbon-fiber {
    background:
        linear-gradient(27deg, $carbon-fiber-dark 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, $carbon-fiber-dark 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, $carbon-fiber-medium 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, $carbon-fiber-medium 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, $carbon-fiber-light 10px, transparent 10px),
        linear-gradient($carbon-fiber-lighter 25%, $carbon-fiber-accent 25%, $carbon-fiber-accent 50%, transparent 50%, transparent 75%, $carbon-fiber-darker 75%, $carbon-fiber-darker);
    background-color: $carbon-fiber-base;
    background-size: 20px 20px;
}


.banner-border {
    width: 100%;
    height: 7px;
    background-color: $ep-blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
