
---
import '../styles/components/Footer.scss';
import { Image } from 'astro:assets';
import facebook from '../img/footer/Facebook_Logo_Primary.png';
import instagram from '../img/footer/Instagram_Glyph_Gradient.png';
import award from '../img/footer/wi_milwaukee_vehicle-wraps_2017.webp';
---

<div class="banner-border"></div>
<div class="footer">
    <div class="footer-row footer-social">
        <a href="tel:262-367-0390">
            <span class="material-symbols-outlined footer-social-mat-icon">
                call
            </span>
        </a>
        <a href="http://www.facebook.com/ExecuPrintGS">
            <Image src={facebook} alt="Facebook" height={45} />
        </a>
        <!-- <a>
            <Image src={instagram} alt="Instagram" height={45} />
        </a> -->
        <a href="mailto:customerservice@execu-print.com">
            <span class="material-symbols-outlined footer-social-mat-icon">
				mail
            </span>
        </a>
    </div>
    <div class="footer-row footer-util">
        <Image src={award} alt="Milwaukee Vehicle Wraps 2017" height={225}/>
        <div>
            <u>Hours</u>
            <table>
                <tr>
                    <td>Monday</td>
                    <td>7:30 - 5:00</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>7:30 - 5:00</td>
                </tr>
                <tr>
                    <td>Wednesday &nbsp;</td>
                    <td>7:30 - 5:00</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>7:30 - 5:00</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>7:30 - 5:00</td>
                </tr>
            </table>
        </div>
        <div class="map-embed">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2913.48092149396!2d-88.35903912385255!3d43.094407171134144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8805b22d1e2852b1%3A0x6a9d6bdbd36a9969!2sExecu%20Print!5e0!3m2!1sen!2sus!4v1717353228918!5m2!1sen!2sus" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="footer-row footer-copyright">© 2024: Execu Print, All Rights Reserved</div>
</div>


<style>
    .footer-row a {
        color: white;
    }
</style>
