---
import {Gallery} from '../components/expand';
import { Image } from 'astro:assets';
const { alt, height = 175, images } = Astro.props as { images: string[]; alt: string};
---

<div class="gallery">
    {images.map((image, idx) => (
        <Gallery class="gallery-item" client:load>
            <div slot="target" class="gallery-target">
                <Image src={image} alt={`alt ${idx + 1}`} height={height}/>
            </div>
            <div slot="expand">
                <Image src={image} alt={`alt ${idx + 1}`} />
            </div>
        </Gallery>
    ))}
</div>
