---
const { title } = Astro.props;
---

<li class="dropdown">
    <button type="button" class="dropdown__title" aria-expanded="false" aria-controls="sweets-dropdown">
      {title}
    </button>
    <ul class="dropdown__menu" id="sweets-dropdown">
      <slot/>
    </ul>
  </li>
